<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{url_for('adminotp',adminotp=adminotp,username=name,mobile=mobile,email=email,address=address,password=password)}}">
        <h5>Enter the code we just send on Email</h5>
        <input tyoe="text" name="otp">
        <button>Sign Up</button>
    </form>
</body>
</html>